$TTL	86400
@	IN	SOA	dijkstra.urgu.org. uzer.hackerdom.ru. (
		     2012110700	; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			  86400 )	; Negative Cache TTL
;
@	IN	NS	dijkstra.urgu.org.

$ORIGIN fb.urgu.org.
{% for host in hosts %}
{{ "%-16s"|format(host.name) }} IN A {{ host.addr }}
{%- endfor %}
