zone "10.in-addr.arpa" {
    type forward;
    forward only;
    forwarders { 194.226.235.22; };
};

{% for net, file in networks.iteritems() %}
zone "{{ net }}" { type master; file "{{ file }}"; };
{%- endfor %}

zone "168.192.in-addr.arpa" { type master; file "/etc/bind/db.empty"; };
