$TTL    86400
@   IN  SOA dijkstra.urgu.org. uzer.hackerdom.ru. (
             {{ serial }}
             604800
              86400
            2419200
              86400 )
;

@	IN	NS	dijkstra.urgu.org.
{% for host in hosts %}
{{ host.addr }} IN PTR {{ host.name }}.
{%- endfor %}
