urgu.org.  36000   IN      SOA     dijkstra.urgu.org. uzer.hackerdom.ru. (
                {{ serial }} 36000 900 604800 36000 )
	36000	IN	NS	ns0.urgu.org.
	36000	IN	NS	ns1.urgu.org.
	36000   IN      A	194.226.244.126
	3600	IN	MX	1  ASPMX.L.GOOGLE.COM.
	3600	IN	MX	5  ALT1.ASPMX.L.GOOGLE.COM.
	3600	IN	MX	5  ALT2.ASPMX.L.GOOGLE.COM.
	3600	IN	MX	10 ASPMX2.GOOGLEMAIL.COM.
	3600	IN	MX	10 ASPMX3.GOOGLEMAIL.COM.
	3600	IN	SPF	"v=spf1 include:_spf.google.com ~all"
	3600	IN	TXT	"v=spf1 include:_spf.google.com ~all"

$ORIGIN urgu.org.

ns0		36000	IN	A	195.19.132.27
ns1		36000	IN	A	194.226.244.126

mail		3600	IN	CNAME	ghs.google.com.
google._domainkey 3600	IN	TXT	"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCZtTOyBGwX+iDBxZVWx1tMJHsQFGLJHZTncSQec5PbrtnVRHmih0uLFT6gMKJLOktZsCPmlnd7ingGSPRSvRSEqLu92h55npBx68yGhTcXVcqCuaubdxSJDDCGyuiUmANSiv0jDUhiT7B44DCC0dxXipP4qsPy40fAYkMG6BJuTQIDAQAB"

fb		36000	IN	NS	ns1
runc		36000	IN	NS	dijkstra

*.e		3600	IN	CNAME	dijkstra

dijkstra	3600	IN	MX 10	dijkstra.urgu.org.

x._domainkey.dijkstra	IN	TXT	"v=DKIM1; k=rsa; p=MHwwDQYJKoZIhvcNAQEBBQADawAwaAJhANAF7WyY2zwE7fkW4VNzIZwlGwQBuY8i3PKAub56doiCtweVHR29TS7TjWSvPurT7aWeFGUuGKIPPw4AqZ3PL+9aV1tN2C5fGCca0STbHFo4qyWWQHS8H+6tAt8x/xrO8QIDAQAB"
y._domainkey.dijkstra	IN	TXT	"v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC0DhU+L4YD3Om4l6rIu4NTHtO+fjGo+h3wOAqsKB/rqS+x4XNNi6hpCko1x74Z+RIxDHGEM3XRcQVwUJvfA612WkLRCTM4NI7xAY3xTI9dwg9OjLz6uSR0nHeiiYZtIQppMKOPY2m86nsl+DDMG74SOt2UCbtmTRAkUqvQ7zN78QIDAQAB"

dijkstra	3600	IN	SPF	"v=spf1 a"
dijkstra	3600	IN	TXT	"v=spf1 a"

pioneer 	3600	IN	SPF	"v=spf1 a"
pioneer 	3600	IN	TXT	"v=spf1 a"
pioneer		3600	IN	AAAA	2a02:17d0:341:5a01::1

uzer-work	3600	IN	SPF	"v=spf1 ip4:87.250.224.0/19 ip6:2a02:6b8::/32 -all"
uzer-work	3600	IN	TXT	"v=spf1 ip4:87.250.224.0/19 ip6:2a02:6b8::/32 -all"

tigra		3600	IN	CNAME	stor.math.usu.ru.

mirrors		3600	IN	CNAME	mirror.yandex.ru.
mirror		3600	IN	CNAME	mirror.yandex.ru.

114             3600    IN      PTR     ms.urgu.org.
115		3600	IN	PTR	airlab.math.usu.ru.
126		3600	IN	PTR	dijkstra.urgu.org.

{% for name, type, value in records %}
{{ "%-16s"|format(name) }} IN {{ "%-6s"|format(type) }}{{ value }}
{%- endfor %}
; vim: sw=8 ts=8 ft=none noexpandtab
